body {
	background-color: pink;
}
h1 {}
h2 {}

img {
	max-width: 100%;
}

figure {
	margin: 0;
}

@media screen and (max-width:600px){
	h1{
		font-size: 0.5em;
	
	}
	
	body{
		font-size: 32px;
		margin: 2em;
	}
	p{
		line-height: 1.5em;
	}
}

@media screen and (min-width:601px) {
	body{
		background-color: rebeccapurple;
		font-size: 20px;
		margin: 2em;
	}
	figure {
		float: left;
		width: 45%;
		margin-right: 2em;
	}
	
}

@media screen and (min-width: 1024px) and (max-width: 1500px) {
	body {
		background-color: blueviolet;
		font-size: 24px;
		margin: 3em;
	}

	figure {
		float: left;
		width: 25%;
	}
}